*.pdf
*.acn
.DS_Store
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.pdf
TSWLatexianTemp_*
*.vcxproj
*.vcxproj.*
*.sln
*.v11*
Win32
Debug
*.swp
